<h1 class="text-center">Что вы хотите сделать?</h1>
<div class="nav-buttons">

  <a href="/">
    <div class="button">
      <i id="rotate180" class="material-icons">forward</i>
      <h3 class="text-center">Вернуться на главную</h3>
    </div>
  </a>
  <a href="authorization/logout">
    <div class="button">
      <i id="rotate180" class="material-icons">logout</i>
      <h3 class="text-center">Выйти</h3>
    </div>
  </a>
</div>
<div class="menu-grid-container">
  <a href="/admin/add-image">
    <div class="green add-image">
      <h4 class="text-center">Добавление картинок</h4>
    </div>
  </a>
  <a href="/admin/remove-image">
    <div class="red remove-image">
      <h4 class="text-center">Удаление картинок</h4>
    </div>
  </a>
  <a href="/admin/add-category">
    <div class="green">
      <h4 class="text-center">Добавление категорий</h4>
    </div>
  </a>
  <a href="/admin/remove-category">
    <div class="red">
      <h4 class="text-center">Удаление категорий</h4>
    </div>
  </a>
</div>