<div>
  <form action="/authorization/reset-password" method="POST" class="form-auth-login">
    <h3 class="uppercase text-red">Забыли пароль??</h3>
    <input class="input-form-auth" type="email" name="email" placeholder="Введите ваш Email" />
    <br>
    <button class="btn btn-green" type="submit">Сбросить пароль
    </button>
  </form>
</div>